pypinyin==0.39.0
tqdm==4.62.3
librosa==0.6.0
miditoolkit==0.1.7
scipy==1.6.0
pypianoroll==0.5.3
Resemblyzer==0.1.1.dev0
statsmodels==0.13.1
g2p_en==2.1.0
pandas==1.3.4
einops==0.4.1
torch==1.13.0
SoundFile==0.10.3.post1
praat_parselmouth==0.3.3
pysptk==0.1.21
six==1.16.0
mido==1.2.10
nltk==3.7
tensorflow==2.11.0
pretty_midi==0.2.9
pyworld==0.2.12
matplotlib==3.2.2
Werkzeug==2.2.2
scikit_image==0.16.2
transformers==4.24.0
jiwer==2.2.0
numpy==1.23.5
music21==5.7.2
jieba==0.42.1
webrtcvad==2.0.10
pyloudnorm==0.1.0
pycwt==0.3.0a22
h5py==3.4.0
mir_eval==0.7
apex==0.9.10dev
chardet==5.1.0
dtw==1.4.0
Flask==2.3.2
flask_cors==3.0.10
g2pM==0.1.2.5
parselmouth==1.1.1
PyYAML==6.0
scikit_learn==1.2.2
skimage==0.0
syllabipy==0.2
torchcrf==1.1.0
tensorboardX==2.4
